@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text:wght@400;500;600;700&display=swap');
html{
  font-family: 'Montserrat', sans-serif;
}
.stix{
  font-family: 'STIX Two Text', serif;
}

.animate-arrow-btn-right:hover img {
  transform: translateX(10px);
  transition: linear;
  transition-duration: 300ms;
}
.animate-arrow-btn-left:hover img {
  transform: translateX(-10px);
  transition: linear;
  transition-duration: 300ms;
}

.exp-card {
  border-radius: 8px;
  height: 100%;
}
.exp-card-wrapper{
  border-radius: 8px;
  padding: 2px;
  background-image: linear-gradient(
    144deg,
    rgba(218, 69, 51, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

@layer components{
  .solution{
    @apply bg-cblack h-[20rem] w-72 p-4 relative rounded-lg cursor-pointer
  }
  .solution div{
    @apply w-full h-48 flex items-center justify-center
  }
  .solution img{
    @apply ease-linear transition duration-200
  }
  .solution h1{
    @apply text-cgray transition-all duration-200 translate-y-8
  }
  .solution p{
    @apply text-cgray opacity-0 transition-all duration-200 translate-y-8 text-[14px]
  }
}